﻿@font-face {
    font-family: NanumBarunGothic;
    src: url('/webfonts/NanumBarunGothic.woff');
    font-weight: 400;
}

@font-face {
    font-family: NanumBarunGothic;
    src: url('/webfonts/NanumBarunGothicBold.woff');
    font-weight: 700;
}

@font-face {
    font-family: NanumBarunGothic;
    src: url('/webfonts/NanumBarunGothicLight.woff');
    font-weight: 300;
}

@font-face {
    font-family: NanumBarunGothic;
    src: url('/webfonts/NanumBarunGothicUltraLight.woff');
    font-weight: 100;
}
