﻿@import 'font.css';

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
        margin: 0;
    }

        #content.active {
            margin-left: 17rem;
            width: calc(100% - 17rem);
        }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: NanumBarunGothic, "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    /*background: linear-gradient(to right, #599fd9, #c2e59c)*/
    background: linear-gradient(300deg, #46247d, #5a88af, #584eab, #236c98) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    body.screen-hold {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        text-align: center;
    }

        body.screen-hold .vertical-nav {
            display: none;
        }

.pjax-holder {
    display: none;
}

    .pjax-holder.pjax-active {
        display: initial;
    }

a {
    color: #00B7FF;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}


.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.btn-collapse-nav {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.btn-collapse-onnav {
    position: absolute;
    left: 200px;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    display: none;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}

.form-signup {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    display: none;
}

#inputUpPasswordConfirm {
    margin-bottom: 10px;
}


.form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

    .form-signup .form-control:focus {
        z-index: 2;
    }

.nav-item a {
    cursor: pointer;
}

.col-dashboard {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

#notfound {
    width: 100%;
    width: 500px;
    padding: 15px;
    margin: auto;
    font-size: 72px;
}

.pjax-sub-holder {
    display: none;
}

    .pjax-sub-holder.pjax-sub-active {
        display: block;
    }

#sidebar {
    z-index: 10;
}

#main_cont {
    z-index: 9;
}

#project_menu {
    display: none;
}

.right {
    float: right;
}

.membername {
    font-size: 25px;
}

.job-item {
    height: 250px;
    padding: 0;
    margin-top: 20px;
    background-color: white;
    overflow: hidden;
    border-radius: .3rem !important;
}

.job-item .description {
    text-overflow:clip;

}

    .job-item .job-item-header {
        height: 45px;
        border-bottom: 1px solid rgb(128, 128, 128);
        padding: 10px;
        font-size: 20px;
        overflow: hidden;
    }

    .job-item .job-item-body {
        padding: 10px;
        height: 160px;
        overflow: hidden;
    }

    .job-item .job-item-footer {
        height: 45px;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden;
    }

.col-btn {
    width: 100%;
    height: 100%;
}


.file-column {
    background-color: #fff;
    border-radius: 10px;
    min-height: 50px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.file-view-header {
    font-size: 42px;
}

.file-view-footer {
    margin-top: 20px;
}


.file-view-footer .btn {
    margin-left: 10px;
}

.overlay {
    position: absolute;
    width: 1140px;
    height: 427px;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    padding: 200px;
    color: #fff;
}
div.progress-bar {
    font-size: 24px;
}