<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">-->
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/javascripts/apiclient.js"></script>
    <script src="/javascripts/app-front.js"></script>
</head>
<body>

    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-0 bg-light">
            <div class="media d-flex align-items-center">
                <img src="/images/man-user.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4 id="nav_nickname" class="m-0">김민수</h4>
                    <p id="nav_role" class="font-weight-light text-muted mb-0"></p>
                </div>
            </div>
            <button type="button" class="btn btn-collapse-nav bg-light rounded-circle btn-collapse-onnav">
                <img src="/images/chevron-left.svg" alt="" width="32" height="32" title="Bootstrap">
            </button>
        </div>


        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">계정</p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a id="project_list_menu" class="nav-link text-dark">
                    <i class="fa fa-list mr-3 text-primary fa-fw"></i>
                    프로젝트 목록
                </a>
            </li>
            <li class="nav-item">
                <a id="account_menu" class="nav-link text-dark">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    정보 수정
                </a>
            </li>
            <li class="nav-item">
                <a id="logout_menu" class="nav-link text-dark">
                    <i class="fa fa-sign-out-alt mr-3 text-primary fa-fw"></i>
                    로그아웃
                </a>
            </li>
        </ul>

        <div id="project_menu" class="mt-4">
            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">프로젝트 관리</p>

            <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                    <a id="dashboard_menu" class="nav-link text-dark bg-light">
                        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                        대쉬보드
                    </a>
                </li>
                <li class="nav-item">
                    <a id="member_menu" class="nav-link text-dark">
                        <i class="fa fa-user mr-3 text-primary fa-fw"></i>
                        구성원
                    </a>
                </li>
                <li class="nav-item">
                    <a id="jobs_menu" class="nav-link text-dark">
                        <i class="fa fa-clipboard-check mr-3 text-primary fa-fw"></i>
                        할 일
                    </a>
                </li>

                <li class="nav-item">
                    <a id="articles_menu" class="nav-link text-dark">
                        <i class="fa fa-chalkboard mr-3 text-primary fa-fw"></i>
                        게시판
                    </a>
                </li>
                <li class="nav-item">
                    <a id="contribution_menu" class="nav-link text-dark">
                        <i class="fa fa-chart-pie mr-3 text-primary fa-fw"></i>
                        기여도
                    </a>
                </li>
                <li class="nav-item">
                    <a id="files_menu" class="nav-link text-dark">
                        <i class="fa fa-file-alt mr-3 text-primary fa-fw"></i>
                        파일
                    </a>
                </li>
                <li class="nav-item">
                    <a id="schedule_menu" class="nav-link text-dark">
                        <i class="fa fa-calendar-alt mr-3 text-primary fa-fw"></i>
                        일정
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div id="main_cont" class="pjax-holder">
        <button type="button" class="btn btn-light btn-collapse-nav bg-white shadow-sm rounded-circle">
            <img src="/images/list-menu.png" alt="..." width="30" height="30">
        </button>
        <div class="page-content p-5" id="content">
            <div id="dashboard_scene" class="container pjax-sub-holder">
                <div class="row">
                    <div class="col-sm col-dashboard shadow-sm text-center">
                        <h3 id="project_title">프로젝트 전체 현황</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-dashboard shadow-sm text-center">
                        <h3>구성원</h3>
                    </div>
                    <div class="col-sm col-dashboard shadow-sm text-center">
                        <h3>내 할일</h3>
                    </div>
                    <div class="col-sm col-dashboard shadow-sm text-center">
                        <h3>기여도</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-dashboard shadow-sm text-center">
                        <h3>게시판</h3>
                    </div>
                    <div class="col-sm col-dashboard shadow-sm text-center">
                        <h3>일정</h3>
                    </div>
                    <div class="col-sm col-dashboard shadow-sm text-center">
                        <h3>자료</h3>
                    </div>
                </div>
            </div>

            <div id="projectsel" class="container pjax-sub-holder shadow rounded-lg bg-light p-5 text-center">
                <h1 class="h3 mb-3 font-weight-normal">프로젝트 선택</h1>
                <div id="project_list" class="list-group m-5">
                </div>
                <button id="btn_new_project" class="btn btn-lg btn-primary btn-block" type="button">새 프로젝트 생성</button>
            </div>

            <div id="newproject" class="container pjax-sub-holder shadow rounded-lg bg-light p-5 text-center">
                <h1 class="h3 mb-3 font-weight-normal">프로젝트 생성</h1>
                <input type="text" id="inputProjectTitle" class="form-control" placeholder="이름" required="" autofocus="">
                <input type="text" id="inputProjectDescription" class="form-control" placeholder="설명" required="" autofocus="">
                <div class="input-group">
                    <input type="text" class="form-control datetimepicker-input" id="datetimepicker2" placeholder="마감일" data-toggle="datetimepicker" data-target="#datetimepicker2" />
                </div>
                <button id="perform_create_project" class="btn btn-lg btn-primary btn-block mt-4" type="button">새 프로젝트 생성</button>
            </div>

            <div id="member_scene" class="container pjax-sub-holder shadow rounded-lg bg-light p-5">
                <div class="input-group mb-3">
                    <input id="jointouserfield" type="text" class="form-control" placeholder="추가할 아이디" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="user_join_btn" class="btn btn-success" type="button">추가</button>
                    </div>
                </div>
                <ul id="member_list" class="list-group">
                    <li class="list-group-item"><span class="membername">Cras justo odio</span>
                        <button class="btn btn-danger right" type="button">제거</button></li>
                </ul>
            </div>
            <div id="jobs_scene" class="container pjax-sub-holder">
                <div class="row row-cols-sm-4 flex-sm-row">

                    <div class="col-sm">
                        <div class="job-item shadow-sm rounded-lg">
                            <div class="job-item-header">
                                보고서 작성
                            </div>
                            <div class="job-item-body">
                                <table>
                                    <tr>
                                        <td><i class="fas fa-calendar-week"></i></td>
                                        <td>일정 없음</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-file-alt"></i></td>
                                        <td>파일 없음</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="pt-2">보고서 작성 요령을 숙지하고 업로드 후 반드시 보고 바랍니다.</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <button class="btn btn-success job-item-footer" disabled="disabled">
                                완료됨
                            </button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="job-item shadow-sm rounded-lg">
                            <div class="job-item-header">
                                길거리 설문조사
                            </div>
                            <div class="job-item-body">
                                <table>
                                    <tr>
                                        <td><i class="fas fa-calendar-week"></i></td>
                                        <td><a href="#">설문조사 (08.27~08.30)</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-file-alt"></i></td>
                                        <td><a href="#">설문조사.hwp (243KB)</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="pt-2">학교 앞 사거리에서 설문조사좀 진행해주세요.</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <button class="btn btn-success job-item-footer">
                                완료
                            </button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="job-item">
                            <button class=" col-btn shadow-sm btn btn-success" type="button"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="articlelist_scene" class="container pjax-sub-holder shadow rounded-lg bg-light p-5 text-center">
            </div>
            <div id="contribution_scene" class="container pjax-sub-holder ">
                <div class="shadow rounded-lg bg-light p-5 text-center mb-5">
                    <h2>경영경제학 구성원간 기여도 비율</h2>
                    <div class="progress" style="height: 100px;">
                        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">아무개</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">김민수</div>
                        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">김재윤</div>
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 35%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">조길운</div>
                    </div>
                </div>
                <div class="shadow rounded-lg bg-light p-5 text-center">
                    <h2>기여도 근거</h2>

                    <div class="card mt-5" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">아무개</h5>
                            <p class="card-text">
                                <div class="progress" style="height: 100px;">
                                    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">업무 진행</div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">게시글</div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">파일수정</div>
                                </div>
                            </p>
                        </div>
                    </div>

                    <div class="card mt-5" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">김민수</h5>
                            <p class="card-text">
                                <div class="progress" style="height: 100px;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">업무 진행</div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">게시글</div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">파일수정</div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="card mt-5" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">김재윤</h5>
                            <p class="card-text">
                                <div class="progress" style="height: 100px;">
                                    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">업무 진행</div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">게시글</div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">파일수정</div>
                                </div>
                            </p>
                        </div>
                    </div>

                    <div class="card mt-5" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">조길운</h5>
                            <p class="card-text">
                                <div class="progress" style="height: 100px;">
                                    <div class="progress-bar" role="progressbar" style="width: 34%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">업무 진행</div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">게시글</div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">파일수정</div>
                                </div>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div id="files_scene" class="container pjax-sub-holder">
                <div class="row row-cols-sm-1">
                    <div class="col-sm file-column">
                        <div class="file-view-header"><i class="fa fa-file-alt"></i>설문조사.hwp</div>
                        <div class="file-view-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">최종버전 (2019-09-29 14:32:22)</a>
                                <a href="#" class="list-group-item list-group-item-action">거의 다됬어요 (2019-10-03 09:22:12)</a>
                                <a href="#" class="list-group-item list-group-item-action">ㅇㅇ (2019-10-05 10:53:33)</a>
                                <a href="#" class="list-group-item list-group-item-action">두번째 (2019-10-07 23:27:52)</a>
                                <a href="#" class="list-group-item list-group-item-action">최초파일 (2019-10-13 17:22:11)</a>
                            </div>
                        </div>
                        <div class="file-view-footer">
                            <button type="button" class="btn btn-primary right">다운로드</button>
                            <button type="button" class="btn btn-secondary right">되돌리기</button>
                        </div>
                    </div>
                    <div class="overlay hide">드레그 앤 드롭으로 파일 업로드...</div>
                    <div class="col-sm file-column">
                        <div class="file-view-header"><i class="fa fa-file-alt"></i>보고서.hwp</div>
                        <div class="file-view-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">최종버전 (2019-10-29 14:32:22)</a>
                                <a href="#" class="list-group-item list-group-item-action">쓰고있습니다 (2019-11-05 09:22:12)</a>
                                <a href="#" class="list-group-item list-group-item-action">중장 (2019-11-08 23:27:52)</a>
                                <a href="#" class="list-group-item list-group-item-action">초장 (2019-11-16 17:22:11)</a>
                            </div>
                        </div>
                        <div class="file-view-footer">
                            <button type="button" class="btn btn-primary right">다운로드</button>
                            <button type="button" class="btn btn-secondary right">되돌리기</button>
                        </div>
                    </div>
                    <div class="col-sm file-column">
                        <div class="file-view-header"><i class="fa fa-file-alt"></i>발표자료.pptx</div>
                        <div class="file-view-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">최종버전 (2019-09-29 14:32:22)</a>
                                <a href="#" class="list-group-item list-group-item-action">거의 다됬어요 (2019-10-03 09:22:12)</a>
                                <a href="#" class="list-group-item list-group-item-action">ㅇㅇ (2019-10-05 10:53:33)</a>
                                <a href="#" class="list-group-item list-group-item-action">두번째 (2019-10-07 23:27:52)</a>
                                <a href="#" class="list-group-item list-group-item-action">최초파일 (2019-10-13 17:22:11)</a>
                            </div>
                        </div>
                        <div class="file-view-footer">
                            <button type="button" class="btn btn-primary right">다운로드</button>
                            <button type="button" class="btn btn-secondary right">되돌리기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="schedule_scene" class="container pjax-sub-holder shadow rounded-lg bg-light p-5 text-center">
            </div>
        </div>
    </div>

    <div id="signin" class="form form-signin pjax-holder shadow rounded-lg bg-light p-5">
        <h1 class="h3 mb-3 font-weight-normal">로그인</h1>
        <input type="text" id="inputUsername" class="form-control" placeholder="아이디" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control" placeholder="비밀번호" required="">
        <div id="wrongidpass" class="checkbox mb-3 hide">
            아이디나 비밀번호가 틀렸습니다.
        </div>
        <button id="perform_login" class="btn btn-lg btn-primary btn-block" type="button">로그인</button>
        <button id="enter_register" class="btn btn-lg btn-primary btn-block" type="button">회원가입</button>
    </div>

    <div id="signup" class="form-signup pjax-holder shadow rounded-lg bg-light p-5">
        <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>
        <input type="text" id="inputUpUsername" class="form-control" placeholder="아이디" required="" autofocus="">
        <input type="password" id="inputUpPassword" class="form-control" placeholder="비밀번호" required="">
        <input type="password" id="inputUpPasswordConfirm" class="form-control" placeholder="비밀번호 확인" required="">
        <input type="text" id="inputUpNickname" class="form-control" placeholder="이름" required="" autofocus="">
        <div id="alreadyexists" class="checkbox mb-3 hide">
            이미 존재하는 아이디입니다.
        </div>
        <button id="perform_signup" class="btn btn-lg btn-primary btn-block" type="button">회원가입</button>
    </div>
</body>
</html>

